__pycache__/
*.pyc
.ipynb_checkpoints/

.env
venv/
.venv/

# Dataset/cache folders
data/*
!data/.gitkeep


saved_models/*.pth
saved_models/*.pt
!saved_models/.gitkeep


results/*.csv
results/*.json
results/graphs/*.png
!results/.gitkeep
!results/graphs/.gitkeep

.DS_Store
Thumbs.db
